
{{#each albums}}
<div class="row">
  <div class="panel panel-default open-new-album">
    <div class="panel-body">
      <h3>New Album +</h3>
    </div>
  </div>
</div>
  {{#each this}}

  <div class="row">
    <div class="panel panel-inverse edit-album" data-attribute={{this.id}}>
      <div class="panel-body">
        <div class="col-md-6">
          <div class='album-stats'
            <h5 class="album-date">{{this.created_at}}</h5>
            <h3 class="album-title">{{this.title}}</h3>
            <h4 class="album-artist">{{this.artist}}</h4>
            <div class="album-thoughts"><p>{{this.thoughts}}</p></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="album-cover">
            <img class="cover-image" src="{{this.cover}}">
          </div>
        </div>
      </div>
    </div>
  </div><!--close row-->

      </div>
    </div>
  {{/each}}
{{/each}}
